pre {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0d0d0d;
}

@media (max-width: 768px) {
    pre {
        padding: 0.5rem;
    }

    pre code {
        font-size: 0.8rem;
    }
}